.page {
  background:
    linear-gradient(to top, #F5F9FF, #F5F9FF) no-repeat,
    linear-gradient(45deg, rgba(80, 108, 207, 1) 13%, rgba(52, 83, 194, 1) 85%) no-repeat 100% 0 #F5F9FF;
  background-size: 0% auto, calc((458/1440)*100%) auto;
  border-radius: 10px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  z-index: 0;
}

@keyframes circling {
  from {
    translate: -5px 0;
  }

  to {
    translate: 5px 15px;
  }
}

@keyframes flowrigth {
  to {
    translate: 5px 15px;
  }
}

@keyframes flowleft {
  to {
    translate: -5px 15px;
  }
}