@import url(/normalize.css);
@import url(/vendor/fonts.css);

.page {
  background:
    linear-gradient(to top, #F5F9FF, #F5F9FF) no-repeat,
    linear-gradient(45deg, rgba(80, 108, 207, 1) 13%, rgba(52, 83, 194, 1) 85%) no-repeat 100% 0 #F5F9FF;
  background-size: 0% auto, calc((458/1440)*100%) auto;
  border-radius: 10px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  max-width: 1440px;
  padding: 32px 40px 0 calc(134/1440*100vw);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  width: 180px;
  height: 38px;
  padding-right: 60px;
}

.header__navtab {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__item {
  padding: 9px 35px 9px 0;
}

.header__item:last-of-type {
  padding-right: 0;
}

.header__item:nth-last-child(2) {
  padding-right: 34px;
}

.header__link {
  text-decoration: none;
  color: var(--text-dark-gray, #5F6B77);
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
  padding: 0;
  cursor: pointer;
}

.header__language {
  padding: 0 78px 0 73px;
  color: var(--text-blue-gray, #8B9FCC);
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
}

.header__phone-number {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 137.5%;
  margin: 0;
  padding-right: 15px;
}

.header__contacts-button {
  border: 0;
  border-radius: 10px;
  background-color: #49A1F1;
  padding: 12px 25px;
  max-width: 127px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  cursor: pointer;
}

.main {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main__description {
  padding-left: calc(135/1440*100vw);
  padding-top: 158px;
  max-width: 570px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 176px 120px 54px;
  row-gap: 41px;
}

.main__title {
  color: var(--text-black, #08123A);
  font-family: 'SF Pro Display', 'Arial', sans-serif;
  font-size: clamp(18px, 50vw, 48px);
  font-style: normal;
  font-weight: 600;
  line-height: 59px;
  margin: 0;
  letter-spacing: 0.015em;
}

.main__subtitle {
  color: var(--text-dark-gray, #5F6B77);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

.main__button {
  padding: 16px 14px;
  max-width: 170px;
  color: var(--main-white, #FFF);
  text-align: center;
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  border: 0;
  border-radius: 10px;
  background: var(--main-purple, #506CCF);
  box-shadow: 0px 20px 35px 0px #DFE8F4;
  cursor: pointer;
}

.main__down {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background-image: url('./image/down.svg');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center center;
  box-sizing: border-box;
  border: 0;
}

.main__img-first {
  background-image: url(./image/2.png);
  background-repeat: no-repeat;
  background-position: -31px top;
  background-size: calc(630/1440*100vw) calc(660/1440*100vw);
  width: calc(402/1440*100vw);
  height: calc(660/800*100vh);
  max-width: 402px;
  transform: translate(0px, 65px);
  overflow: hidden;
}

.main__img-second {
  position: absolute;
  top: 0;
  left: calc(705/1440*100vw);
  z-index: 4;
  width: calc(446/1440*100vw);
  height: calc(588/1440*100vw);
  background: url("./image/1.svg");
  background-position: left top;
  background-repeat: no-repeat;
  transform: translate(4px, 57px);
  background-size: calc(446/1440*100vw) calc(388/1440*100vw);
  animation: flowrigth 5s ease-in-out alternate-reverse infinite;
}

.main__img-fird {
  position: absolute;
  top: 0;
  left: calc(705/1440*100vw);
  z-index: 4;
  width: calc(446/1440*100vw);
  height: calc(588/1440*100vw);
  background: url("./image/3.svg");
  background-position: calc(66/1440*100vw) bottom;
  background-repeat: no-repeat;
  transform: translate(4px, 57px);
  background-size: calc(230/1440*100vw) calc(269/1440*100vw);
  animation: flowleft 7s ease-in-out alternate-reverse infinite;
}

.main__profile-photo {
  width: calc(52/1440*100vw);
  height: calc(54/1440*100vw);
  position: fixed;
  transform: translate(calc(203/1440*100vw), 6px);
}

.main__profile-photo-second {
  position: absolute;
  left: calc(636/1440*100vw);
  top: 481px;
}

.main__rectangle {
  position: absolute;
  left: calc(288/1440*100vw);
  bottom: 156px;
  animation: circling 4s ease-in-out alternate-reverse infinite;
}

.main__el-fird {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 808px;
  top: 12px;
  background: url(./image/element3.svg);
  background-repeat: no-repeat;
  animation: circling 3s ease-in-out alternate-reverse infinite;
}

.main__el-first {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 249px;
  top: 644px;
  background: url(./image/element1.svg);
  background-repeat: no-repeat;
  animation: circling 2s ease-in-out alternate-reverse infinite;
}

.main__el-second {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 345px;
  top: 208px;
  background: url(./image/element2.svg);
  background-repeat: no-repeat;
  animation: circling 2.5s ease-in-out alternate-reverse infinite;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(8, 18, 58, 0.5);
  display: flex;
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 557px;
  padding: 38px 38px;
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  z-index: 10;
}

.popup__title {
  color: #08123A;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin: 0;
  padding-bottom: 33px;
  letter-spacing: 0.01em;
}

.popup__text-style_gray {
  color: #5F6B77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;

  margin-bottom: 12px;
}

.popup__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__location-mark {
  width: 24px;
  height: 22px;
}

.popup__location-title {
  background: url("./image/location-mark.svg") no-repeat left;
  padding-left: 27px;
}

.popup__location {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 7px;
  padding-left: 3px;
}

.popup__location-link {
  color: #506CCF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  border-bottom: #506CCF 1px solid;
  margin-bottom: 43px;
  text-decoration: none;
  width: 148px;
  padding-left: 3px;
}

.popup__contact {
  margin: 0;
  display: flex;
}

.popup__contact_number {
  color: #08123A;
  margin-bottom: 12px;
}

.popup__contact_mail {
  color: #08123A;
  margin-bottom: 12px;
}

.popup__time-title {
  background: url(./image/three-o-clock-clock.svg) no-repeat center left/ contain;
  padding-left: 29px;
  margin-top: 29px;
}

.popup__time {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 204px;
  margin-bottom: 27px;
  ;
}

.popup__social-media-title {
  margin-top: 0;
}

.popup__social-media {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 18px;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.popup__social-media_telegram {
  background: url("./image/telegram.svg") no-repeat center left/ contain;
  cursor: pointer;
}

.popup__social-media_vk {
  background: url("./image/vk.svg") no-repeat center left/ contain;
  cursor: pointer;
}

.popup__social-media_yandex-zen {
  background: url("./image/yandex-zen.svg") no-repeat center center/ 21.74px;
  margin: 0;
  cursor: pointer;
}

.popup__button {
  max-width: 188px;
  width: 100%;
  height: 54px;
  padding: 0;
  background-color: transparent;
  border: #5F6B77 solid 2px;
  border-radius: 10px;
  color: #5F6B77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 10px;
  cursor: pointer;
}

@keyframes circling {
  from {
    translate: -5px 0;
  }
  to {
    translate: 5px 15px;
  }
}

@keyframes flowrigth {
  to {
    translate: 5px 15px;
  }
}

@keyframes flowleft {
  to {
    translate: -5px 15px;
  }
}