.main__down {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background-image: url('../../../image/down.svg');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center center;
  box-sizing: border-box;
  border: 0;
}