.popup__container {
  width: 557px;
  padding: 38px 38px;
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  z-index: 10;
}

@media screen and (max-width: 680px) {
  .popup__container {
    width: 70%;
    padding: 30px 30px;
  }
}