.main__el-second {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 345px;
  top: 208px;
  background: url("../../../image/element2.svg");
  background-repeat: no-repeat;
  animation: circling 2.5s ease-in-out alternate-reverse infinite;
  z-index: 1;
}

@media screen and (max-width: 1360px) {
  .main__el-second {
    top: calc(208/1360*100vw);
  }
}