.header__contacts-button {
  border: 0;
  border-radius: 10px;
  background-color: #49A1F1;
  padding: calc(12/1440*100vw) calc(25/1440*100vw);
  max-width: 127px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  cursor: pointer;
}

.header__contacts-button:hover {
  background-color: rgba(73, 160, 241, 0.7);
}

@media screen and (max-width: 1439px) {
  .header__contacts-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .header__contacts-button {
    font-size: 10px;
  }
}