.header__language {
  padding: 0 calc(78/1440*100vw) 0 calc(73/1440*100vw);
  color: var(--text-blue-gray, #8B9FCC);
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
}

@media screen and (max-width: 1360px) {
  .header__language {
    padding-right: calc(50/1360*100vw);
    font-size: 12px;
  }
}