.main__description {
  padding-left: calc(135/1440*100vw);
  padding-top: 158px;
  width: calc(570/1440*100vw);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 176px 120px repeat(2, 54px);
  row-gap: 41px;
  z-index: 9;
}

@media screen and (max-width: 1360px) {
  .main__description {
    padding-top: calc(158/1360*100vw);
  }
}

@media screen and (max-width: 1000px) {
  .main__description {
    grid-template-rows: 140px 110px repeat(2, 54px);
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main__description {
    width: calc(400/768*100vw);
  }
}

@media screen and (max-width: 500px) {
  .main__description {
    margin: 0 auto 0;
    justify-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px 0 0 0;
  }
}