.header__link {
  text-decoration: none;
  color: var(--text-dark-gray, #5F6B77);
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: calc(16/1440*100vw);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
  padding: 0;
  cursor: pointer;
}

.header__link:hover {
  color: var(--text-dark-gray, rgb(95, 107, 119, 0.7));
}