.main__subtitle {
  color: var(--text-dark-gray, #5F6B77);
  font-family: Inter;
  font-size: clamp(16px, 50vw, calc(20/1440*100vw));
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .main__subtitle {
    text-align: center;
  }
}