.popup__location {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 7px;
  padding-left: 3px;
}

@media screen and (max-width: 680px) {
  .popup__location {
    font-size: 12px;
  }
}