.popup__text-style_gray {
  color: #5F6B77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;

  margin-bottom: 12px;
}

@media screen and (max-width: 680px) {
  .popup__text-style_gray {
    font-size: 12px;
  }
}