.header__phone-number {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 137.5%;
  margin: 0;
  padding-right: calc(15/1440*100vw);
  width: calc(155/1440*100vw);
  max-width: 155px;
}

@media screen and (max-width: 1439px) {
  .header__phone-number {
    padding-right: calc(20/1360*100vw);
    font-size: 12px;
    width: calc(160/1440*100vw);
  }
}

@media screen and (max-width: 1000px) {
  .header__phone-number {
    font-size: 10px;
  }
}