.main__profile-photo {
  width: calc(52/1440*100vw);
  height: calc(54/1440*100vw);
  position: fixed;
  transform: translate(calc(203/1440*100vw), 6px);
}

@media screen and (max-width: 768px) {
  .main__profile-photo {
    transform: translate(calc(120/768*100vw), 6px);
  }
}