.popup__title {
  color: #08123A;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin: 0;
  padding-bottom: 33px;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 680px) {
  .popup__title {
    text-align: left;
    padding-bottom: 20px;
    font-size: 16px;
  }
}