.main__button {
  padding: 16px 14px;
  max-width: 170px;
  color: var(--main-white, #FFF);
  text-align: center;
  font-family: 'SF Pro Text', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  border: 0;
  border-radius: 10px;
  background: var(--main-purple, #506CCF);
  box-shadow: 0px 20px 35px 0px #DFE8F4;
  cursor: pointer;
}

.main__button:hover {
  color: var(--main-white, rgb(255, 255, 255, 0.8));
  background: var(--main-purple, rgb(80, 108, 207, 0.7));
}